{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">



      <div class="card" style="width: 18rem;">
<img src="{{url_for('static',filename='img/about.jpeg') }}" class="card-img-top" alt="...">
<div class="card-body">
  <h1></h1>
  <a href="#" class="btn btn-primary">Naman Arora</a>
  </div>
</div>



<h1></h1>
<h1></h1>

<h1>Downtown Financial Banking</h1>

      <p>This is a basic banking website in which you can do instant money transfer from one person to another. </p>
      <p>
         We are committed to understanding our customers’ needs and aim at consistently delivering relevant financial solutions and excellent customer service.<br>
        Customers can also reach out to us through our 24x7 customer care facilities. We strive to provide our customers with the best possible combination of safety, convenience and innovation in all of our financial products and services.

        <br>
        
        
        The vision <strong>‘to be the most preferred and trusted bank enhancing value for all stakeholders’ </strong> defines and shapes our day-to-day business, helping us to build long-lasting relationships.</p>
    </div>
  </div>
</div>
  
{% endblock %}

