{% extends "layout.html" %}

{% block body %}

{% with messages = get_flashed_messages(with_categories = true) %}
{% if messages %}
{% for category, msg in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Customers List</h1>
           
  
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <!-- <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6> -->
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Account_no</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Account_balance</th>
                        <!-- <th>Image</th> -->
                        <th>Select Customer</th>
                      </tr>
                    </thead>
                   {% for row in data %}
                    <tbody>
                      <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <!-- <td>{{row[5]}}</td> -->
                        <td><button class="btn btn-light"><a href="/viewcustomer/{{row[1]}}">Select</a></button></td>
                       
                      </tr>
                     
                    </tbody>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->



{% endblock %}

